.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--custom-background-color);
}

.featuresTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
} 